<?php
#
#
# SugoiDesu! (https://github.com/ilsubyeega/sugoidesu)
# This File is Licensed as GNU Affero General Public License v3.0
# Find out more: https://github.com/ilsubyeega/sugoidesu/blob/master/LICENSE
#
#
#
$mysql_config['host'] = "localhost";
$mysql_config['db'] = "osuserver";
$mysql_config['id'] = "username";
$mysql_config['pw'] = "password";
?>
